{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/script.js"></script>
    {% block links %}{% endblock %}
    
    <title>{% block title%}MODE MOSCOW {% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="content">
                <div class="incontent">
                    <div class="social_block">
                        <div class="vk">
                            <a href="https://vk.com/mode_moscow"><i class="fa-brands fa-vk" style="color: #000000;"></i></a>
                        </div>
                        <div class="inst">
                            <a href="https://www.instagram.com/mode_moscow/"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
                        </div>
                        <div class="tg">
                            <a href="https://t.me/mode_moscow"><i class="fa-brands fa-telegram" style="color: #000000;"></i>   </a>
                        </div>
                    </div>
                    <div class="logo">
                        <a href="{% url "shop:product_list" %}"><img src="{% static "/media/logo.svg" %}" alt=""></a>
                    </div>

                    <div class="cart">
                        <a href="{% url "cart:cart_detail" %}"><i class="fa-light fa-bag-shopping"></i></a>
                    </div>
                    <button  class="icon">
                        <hr>
                        <hr>
                        <hr>
                    </button>
                </div>
            </div>
        </header>
        <main>
            <div class="content">
                <div class="block_nav">
                    <div class="main_nav">
                        <ul>
                            <li {% if not category %}class="selected"{% endif %}>
                                <a href="{% url "shop:product_list" %}">All</a>
                            </li>
                            {% for c in categories %}
                                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a> 
                                </li>
                            {% endfor %}                            
                        </ul>
                    </div>
                </div>
                <div class="incontent">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
        <footer>
            <div class="content">
                <div class="incontent">
                    <div class="text_footer">
                        <a href="information.html">Information</a>
                        <a href="#">Privacy</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>